{% include '__has-variables' %}
  {% capture vars %}
{% if product.featured_image == blank %}
  {% include '__image-placeholder' %}
{% else %}
{% capture image %}
<img id="main" {% if settings.round-product-images %}class="img-circle" {% endif %}src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
<div class="visible-xs">
  <h1 class="page-header" itemprop="name">{{ page_title }}</h1>
  <h5>by {{ product.vendor | link_to_vendor }}</h5>
</div>

<form id="product-form" action="/cart/add" method="post">
  <div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
	
    <!-- images col -->
    <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
      <div class="row">
        {% if product.images.size > 1 %}
          {% comment %}{% for image in product.images %}
            <div class="col-xs-6 col-sm-4">
              <a href="#" class="thumbnail product-image" data-main-image="{{ image.src | product_img_url: 'grande' }}">
                {% if settings.round-product-images %}
                {{ image.src | product_img_url: 'medium' | img_tag: image.alt, 'img-circle' }}
                {% else %}
                {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                {% endif %}
              </a>
            </div>
          {% endfor %}{% endcomment %}
          {% include 'product-slider' %}
          {% include 'thumbnail-slider' %}
        {% else %}
          <div class="col-xs-12 col-sm-12">
            <div class="thumbnail">
              {{ image }}
              <!--             <div class="loader"></div> -->
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  
    <!-- details col -->
    <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
      <h1 class="hidden-xs" itemprop="name">{{ page_title }}</h1>
      <h5 class="hidden-xs">by {{ product.vendor | link_to_vendor }}</h5>
      {% comment %}<div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>{% endcomment %}
      <hr>
      <div class="row">
        <div class="col-sm-3 add-to-cart-left">
          {% if has_cart %}
            {% include 'product-add-to-cart-form' %}
          {% endif %}
        </div>
        <div class="col-sm-3 add-to-cart-right">
        </div>
      </div>
      <div class="accordion" id="product-description">
        <p itemprop="description">{% include '__formatted-content' with product.description %}</p>
      
        {% include 'product-specs' %}
      </div>
      <hr>
      {% comment %} Shopify Product Review Plugin{% endcomment %}
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
  </div>
</form>

{% include 'product-footer' %}
{{ 'product-description-accordion.js' | asset_url | script_tag }}